page-create-account {
    .create{
        display: flex;
        flex-direction: column;
        
        background-color:red;
    }
    .buttons{
        display: flex;
        justify-content: center;
    }
}
